body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: gray;
  font-size: 9px;
  color: #888888;
}
.mainWrapper{
  width: 400px;
  margin: 100px auto;
}
.panel{
  border: 1px solid #eaeaea;
  border-radius: 3px;
  z-index: 9;
}
.panel .col-form-label{
  text-align: left;
  font-size: 11px;
  color: #747474;
  font-weight: 500;
}
.ReactModal__Overlay{
  background-color: rgba(0,0,0,.5) !important;
}
.panelheader{
  border-bottom: 1px solid #eaeaea;
  padding: 2px 15px 4px 15px;
  font-weight: 500;
}
.panel .panelheader .editIcon{margin-top: 5px;}
.panel .panelheader .editCircle{    
  border-radius: 15px;
  padding: 2px 6px;
  background: #f2f2f2;
}
.panel .panelheader .editCircle:hover{background: #747474;color:#f2f2f2;cursor: pointer;}
.panel .panelheader label{
  font-size: 15px;
  color: #747474;
}
.candidateheader span {cursor: pointer;}
.panelbody{
  padding: 10px 15px 0px 15px;
}
.col-form-label p{
 color: #7d6aa5;
}

/**/
.candidateheader{
  border-bottom: 1px solid #eaeaea;
  padding: 7px 18px;
  font-weight: 500;
  color: #797979;
  font-size: 18px;
}
.updateInfo{
  padding: 15px;
}
#name{
  position: relative;
}
#email{
  position: relative;
}
#name p,#email p{
  position: absolute;
  font-size: 11px;
  color: #797979;
  font-weight: 500;
  left: 13px;
  top: 2px; 
}
.validateError{font-size: 14px; color: red;clear: both;}
#name input[type=text],#email input[type=text]{
  color: #000;
  font-size: 16px;
  height: 49px;
  border-radius: 3px;
}
.updatecandidatedetail button{
  color: #654260;
  width: 195px;
  height: 45px;
  font-size: 18px;
  font-weight: 500;
  border: none;
  margin-top: 14px;
  margin-bottom: 10px;
  cursor: pointer;
}
.updatecandidatedetail button:hover{
  background-color: none;
}
.updatecandidatedetail .updateBtn{
  background-color: #ffc72c; 
  margin-right: 10px;
}
.updatecandidatedetail .cancelBtn{
  background-color: #ffffff; 
  border: 1px solid #838383;
}